*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    color:  #333;
    font-weight: 300;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

p{
    line-height: 1.3;
}