.header {
    width: 100%;
    z-index: 9999;
    background-color: $white;
    
    box-shadow: 0 0 10px rgba(0,0,0,0.4);
    
    &-sticky{
        position: sticky;
        top: 0;
        left: 0;
    }
    
    &-logo {
        /*use this to change the properties of logo visible in header*/
        max-width: 180px;
        margin: auto;
        @mixin mediumScreen{
            margin: 0;
        }
    }
    
}

.menu-container {
    display: none;
    @mixin mediumScreen{
        padding: 22px;
        display: block;
    }
}
.menu-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    &-item {
        
        &-link {
            display: block;
            padding: 10px 18px;
            color: $grey;
            font-weight: 400;
            font-size: 1rem;
            &:hover {
                color: $blue;
            }
        }
    }
}

.mobile-header-icon {
    position: absolute;
    cursor: pointer;
    top: 30px;
    right: 30px;
    width: 20px;
    height: 19px;
    
    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $blue;
        
        transform-origin: 0 0;
        transition: all .3s ease-out;
    }
    &-bar{
        position: absolute;
        top: 8px;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $blue;
        
        transform-origin:  0 50%;
        transition: all .3s ease-out;
    }
    &::after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 20px;
        height: 3px;
        background-color: $blue;
        
        transform-origin: 0 100% ;
        transition: all .3s ease-out;
    }
    
    &-close{
        &::before{
            transform: rotate(45deg) scale(1.25) translateX(1px) ;
        }
        .mobile-header-icon-bar{
            transform: scaleX(0);
            opacity: 0;
        }
        &::after{
            transform: rotate(-45deg) scale(1.3) translateY(1px) translateX(-1px);
        }
    }
    @mixin mediumScreen {
        display: none;
    }
}
.mobile-menu{
    opacity: 0;
    &-list{
        margin: 0;
        height: 100%;
        list-style: none;
        padding-bottom: 20px;
        display: none;
        &-item{
            border-top: dotted 1px #AAA;
            &-link{
                display: block;
                padding: 10px 18px;
                color: $grey;
                font-weight: 400;
                font-size: 1rem;
                &:hover{
                    color: $blue;
                }
            }
        }
    }
    
    &-active{
        opacity: 1;
        .mobile-menu-list{
            display: block;
        }
    }
}

.is-current-link{
    color: $blue;
}